---
---

@import "{{ site.theme }}";

.d-none {
  display: none !important;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .menu a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 42em) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 42em) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .menu {
    float: none;
    border-top: 1px solid white;
  }
}

.topnav .menu {
  float: right;
}

.topnav .title a {
  display: block;
  color: #f2f2f2;
  padding: 10px 12px;
  font-size: 22px;
}

@media screen and (min-width: 64em) {
  .topnav > div {
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  .topnav > div {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 42em) {
  .topnav a > span:nth-child(2) {
    display: none !important;
  }
}

.date {
  margin-top: 1rem;
  background: #159957;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.date::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.date::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #159957;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.index-post-item {
  margin-top: 1rem !important;
}
