<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
	{% if site.google_analytics %}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
	</script>
	{% endif %}
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	{% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>

<body>
	<header class="topnav" id="myTopnav">
		<div>
			<div class="title">
				<a href="{{ "/" | relative_url }}">
					<span style="font-weight:bold;">{{ site.title }}</span>
					<span style="font-size: 14px;font-style: italic;">{{ site.description }}</span>
				</a>
			</div>
			<div class="menu">
				<a href="{{ "/" | relative_url }}">Home</a>

				{% for page in site.pages %}
				{% if page.show_in_menu %}
				<a href="{{ page.url | relative_url }}">{{ page.title }}</a>
				{% endif %}
				{% endfor %}

				<a href="{{ "feed.xml" | relative_url }}" target="_blank">
					Feed
					<svg enable-background="new 0 0 24 24" height="1rem" viewBox="0 0 24 24" width="1rem"
						xmlns="http://www.w3.org/2000/svg">
						<g fill="#159957">
							<circle cx="3.429" cy="20.571" r="3.429" />
							<path
								d="m11.429 24h4.57c0-8.821-7.178-15.999-15.999-16v4.572c6.302.001 11.429 5.126 11.429 11.428z" />
							<path d="m24 24c0-13.234-10.766-24-24-24v4.571c10.714 0 19.43 8.714 19.43 19.429z" />
						</g>
					</svg>
				</a>

				<a href="javascript:void(0);" class="icon" onclick="toggle()">
					<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24"
						fill="lightgray">
						<path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" /></svg>
				</a>
				<script>
					function toggle() {
                        var x = document.getElementById("myTopnav");
                        if (x.className === "topnav") {
                            x.className += " responsive";
                        } else {
                            x.className = "topnav";
                        }
                    }
				</script>
			</div>
		</div>
	</header>

	<main id="content" class="main-content" role="main">
		{% if page.title %}
		<h2>{{ page.title }}</h2>
		{% endif %}
		{{ content }}
		<footer class="site-footer">
			{% if site.github.is_project_page %}
			<span class="site-footer-owner">This <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
			{% endif %}
		</footer>
	</main>
</body>

</html>